{
	"endOfLine": "auto",
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"useTabs": true,
	"htmlWhitespaceSensitivity": "css",
	"embeddedLanguageFormatting": "auto",
	"insertPragma": false,
	"requirePragma": false,
	"vueIndentScriptAndStyle": false,
	"importOrder": [
		"^@utils/(.)$",
		"^@styles/(.)$",
		"^@assets/(.)$",
		"^@hooks/(.)$",
		"^@types/(.)$",
		"^@stores/(.)$",
		"^@constants/(.)$",
		"^@components/(.)$",
		"^@pages/(.)$",
		"^@/(.)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"overrides": [
		{
			"files": ".prettierrc",
			"options": { "parser": "json" }
		}
	]
}
